<configuration>

    <appender name = "myConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%X{traceId}] [%X{spanId}] [${APP_NAME}] [%thread] [%c:%L] - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="ECS_FILE" class="ch.qos.logback.core.FileAppender">
        <encoder class="co.elastic.logging.logback.EcsEncoder">
            <serviceName>elastic</serviceName>
        </encoder>
        <file>
            logs/elasticApp.json
        </file>
    </appender>

    <root level="INFO">
        <appender-ref ref="myConsoleAppender"/>
        <appender-ref ref="ECS_FILE"/>
    </root>

</configuration>